body{margin: 0;}
a:hover{
    text-decoration: none;
}
.message {
    background-color: #333333;
    color: white;
    padding: 7px;
    margin: 2px;
    max-width: 80%;
    border-radius: 7.1px;
    word-wrap: break-word;
    float: left;
}
.message-sent {
    background-color: #dedddd;
    color: black;
    padding: 7px;
    margin: 2px;
    max-width: 80%;
    border-radius: 7.1px;
    word-wrap: break-word;
    float: right;
}
.chathead {
    background-color: #dedddd;
    color: black;
    padding: 12px;
    max-width: 100%;
    border-radius: 5px;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
}
.message-input {
    background-color: #dedddd;
    padding: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    position: fixed;
    bottom: 29px;
}
.message-input > input {
    outline: none;
    padding: 5px 15px;
    width: 80%;
    border-radius: 25px 0 0 25px;
    border: none;
}
.send-button {
    background-color: white;
    padding: 5px;
    width: 19%;
    border-radius: 0 25px 25px 0;
    border: none;
    color: #333333;
    font-weight: bold;
}
.footer {
    background-color: #333333;
    padding: 5px;
    width: 100%;
    border: none;
    color: #9c9a9a;
    position: fixed;
    bottom: 0;
    text-align: center;
}
.chatbox {
    padding: 10px;
    overflow-y: auto;
}
.mainbox {
    background-color: #f3f1f1;
}
.dp {
    background-color: #f3f1f1;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}
.message:before {
    width: 0;
    height: 0;
    content: "";
    top: 4px;
    left: -14px;
    position: relative;
    border-style: solid;
    border-width: 13px 0px 13px 13px;
    border-color: #333333 transparent transparent transparent;
}

.message-sent:after {
    width: 0;
    height: 0;
    content: "";
    top: 4px;
    right: -15px;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #dedddd transparent transparent transparent;
}
.headertext {
    background-color: #7189ff;
    background: linear-gradient(to right, #113748 40%, #3586ff 36%, #ff0b0b 77%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}